[submodule "frontend"]
	path = frontend
	url = git@github.com:chromstahl-cms/chromstahl-blog-frontend-plugin.git
[submodule "backend"]
	path = backend
	url = git@github.com:chromstahl-cms/chromstahl-blog-plugin.git
